* {
  font-family: 'Galano Classic DEMO';
}

.assessment {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin-top: 5%;
}

.headd{
margin-top: 3vh;
color: #5748F5;
font-size: 2rem;
}

.result {
background-color: rgb(208, 242, 208);
border-radius: 10px;
box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
text-align: center;
padding: 3rem;
margin-top: 10vh;
margin-right: 10%;
margin-left: 10%;
}

.desc{
font-size: 1rem;
font-family: 'Galano Classic DEMO';
margin-bottom: 1rem;
margin-right: 5%;
margin-left: 5%;
color:darkgreen;

}

.type{
font-size: 2.5rem;
font-family: 'Galano Classic DEMO';
margin-bottom: 3rem;
color:#5748F5;
}

.bg {  
padding: 3rem;
background-color: rgb(208, 242, 208);
border-radius: 10px;
box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
margin-top: 10vh;
margin-right: 10%;
margin-left: 10%;
}

.ques{
color:darkgreen;
font-size: 1.5rem;
}

button {
background-color: #776bf5;
color: white;
border: none;
border-radius: 15px;
padding: 11px 25px;
margin-top: 3rem;
cursor: pointer;
}

button:hover {
background-color: #8d83ff;
}

.check{
margin-top: 3vh;
color: #5748F5;

}

input[type="radio"] {
margin-right: 10px;
}

@media screen and (max-width: 768px) {
.headd {
  font-size: 1.5rem;
}
.result, .bg {
  margin-right: 5%;
  margin-left: 5%;
}
.desc, .ques {
  margin-right: 2%;
  margin-left: 2%;
}
}

@media screen and (max-width: 480px) {
.headd {
  font-size: 1.2rem;
}
.result, .bg {
  margin-right: 2%;
  margin-left: 2%;
}
.desc, .ques {
  font-size: 1.2rem;
  margin-right: 1%;
  margin-left: 1%;
}
}
